@import url("https://fonts.googleapis.com/css?family=Oswald:400,700");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
$bg-primary: #1d1d1d;
$red: #ff5858;
$blue: rgb(121, 230, 255);
$green: hsl(98 100% 62%);
$orange: #ffad17;
$purple: #6e1f58;
$darkred: #7d3131;
$darkblue: #32989a;
$darkgreen: #46a95b;
$darkorange: #c78814;

$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);
$outline: 2px;
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $bg-primary;
}

a {
  text-decoration: none;
  color: transparent;
}
.spline-watermark {
  display: none;
}
// Navbar
.main-nav {
  .navbar-head {
    z-index: 3;
    h1 {
      font-family: "CoreCircus", sans-serif;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: 6rem;
      text-align: center;
      line-height: 1;
      margin: 0;
      letter-spacing: 5px;
      padding: 1rem 1rem;
      transition: 0.4s all ease;
      div:first-of-type {
        color: $red;
        text-shadow: -1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple,
          1px 1px 0 $purple, 1px 0px 0px $orange, 0px 1px 0px $orange,
          2px 1px 0px $orange, 1px 2px 0px $orange, 3px 2px 0px $orange,
          2px 3px 0px $orange, 4px 3px 0px $orange, 3px 4px 0px $orange,
          5px 4px 0px $orange, 3px 5px 0px $purple, 6px 5px 0px $purple,
          -1px 2px 0 black, 0 3px 0 $purple, 1px 4px 0 $purple,
          2px 5px 0px $purple, 2px -1px 0 $purple, 3px 0 0 $purple,
          4px 1px 0 $purple, 5px 2px 0px $purple, 6px 3px 0 $purple,
          7px 4px 0 $purple, 7px 7px 10px $red;
      }
      div:last-of-type {
        color: $blue;
        text-shadow: -1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple,
          1px 1px 0 $purple, 1px 0px 0px $red, 0px 1px 0px $red,
          2px 1px 0px $red, 1px 2px 0px $red, 3px 2px 0px $red, 2px 3px 0px $red,
          4px 3px 0px $red, 3px 4px 0px $red, 5px 4px 0px $red,
          3px 5px 0px $purple, 6px 5px 0px $purple, -1px 2px 0 black,
          0 3px 0 $purple, 1px 4px 0 $purple, 2px 5px 0px $purple,
          2px -1px 0 $purple, 3px 0 0 $purple, 4px 1px 0 $purple,
          5px 2px 0px $purple, 6px 3px 0 $purple, 7px 4px 0 $purple,
          7px 7px 10px $blue;
      }
      div {
        color: $orange;
        text-shadow: -1px -1px 0 $purple, 1px -1px 0 $purple, -1px 1px 0 $purple,
          1px 1px 0 $purple, 1px 0px 0px $green, 0px 1px 0px $green,
          2px 1px 0px $green, 1px 2px 0px $green, 3px 2px 0px $green,
          2px 3px 0px $green, 4px 3px 0px $green, 3px 4px 0px $green,
          5px 4px 0px $green, 3px 5px 0px $purple, 6px 5px 0px $purple,
          -1px 2px 0 black, 0 3px 0 $purple, 1px 4px 0 $purple,
          2px 5px 0px $purple, 2px -1px 0 $purple, 3px 0 0 $purple,
          4px 1px 0 $purple, 5px 2px 0px $purple, 6px 3px 0 $purple,
          7px 4px 0 $purple, 7px 7px 10px $orange;
      }
      div:hover {
        -webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
      }
    }
  }

  .nav-slider {
    .navbar-nav {
      flex-direction: row;
      li.nav-item {
        font-size: 1rem;
        margin: 0rem 1rem;
        letter-spacing: 3px;

        a,
        div {
          display: inline-block;
          color: #020506;
          background-color: #e1e1e1;
          padding: 0.25rem 0.75rem;
          font-size: 1.2rem;
          letter-spacing: 1px;
          border-radius: 1rem;
          text-decoration: none;
          font-family: "Space Mono", monospace;
          transition: 0.4s all ease;
          cursor: pointer;
          &:hover {
            -webkit-animation: box-shadow-pop-top 0.6s both;
            animation: box-shadow-pop-top 0.6s both;
          }
        }
      }
    }
  }
}
.navbar-shrink {
  &.main-nav {
    background: rgba(17, 17, 17, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  h1 {
    font-size: 4.5rem;
  }
  .nav-item {
    a,
    div {
      font-size: 1.025rem !important;
    }
  }
}
@-webkit-keyframes box-shadow-pop-top {
  0% {
    box-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555,
      0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes box-shadow-pop-top {
  0% {
    box-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555,
      0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    box-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555,
      0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

// Mobile Navigation Menu

.header {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 75px;
  width: 100%;
  overflow: hidden;
  transition: all 0.5s ease-out, background 1s ease-out;
  transition-delay: 0.2s;
  z-index: 1;
  .burger-container {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s $cubic;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    #burger {
      width: 30px;
      height: 8px;
      position: relative;
      display: block;
      margin: -4px auto 0;
      top: 50%;
      .bar {
        width: 100%;
        height: 2px;
        display: block;
        position: relative;
        background: #fff;
        transition: all 0.3s $cubic;
        transition-delay: 0s;
        &.topBar {
          transform: translateY(0px) rotate(0deg);
        }
        &.btmBar {
          transform: translateY(6px) rotate(0deg);
        }
      }
    }
  }
  ul.menu {
    position: relative;
    display: block;
    padding: 0px 48px 0;
    top: 20%;
    display: none;
    list-style: none;
    li.menu-item {
      border-bottom: 1px solid #333;
      margin-top: 5px;
      transform: scale(1.15) translateY(-30px);
      opacity: 0;
      display: none;
      a,
      div {
        display: block;
        position: relative;
        color: #fff;
        font-family: "Sen", sans-serif;
        font-weight: 100;
        text-decoration: none;
        font-size: 22px;
        line-height: 2.35;
        font-weight: 200;
        width: 100%;
      }
    }
  }
}
.menu-opened {
  transition: all 0.3s ease-in, background 0.5s ease-in;
  transition-delay: 0.25s;
  .header {
    height: 100vh;
    background-color: #000;
    transition: all 0.3s ease-in, background 0.5s ease-in;
    transition-delay: 0.25s;
    z-index: 3;
    .burger-container {
      transform: rotate(90deg);
      #burger {
        .bar {
          transition: all 0.4s $cubic;
          transition-delay: 0.2s;
          &.topBar {
            transform: translateY(5px) rotate(45deg);
          }
          &.btmBar {
            transform: translateY(3px) rotate(-45deg);
          }
        }
      }
    }
    ul.menu {
      display: block;
      li.menu-item {
        opacity: 1;
        display: block;
      }
    }
  }
}

// Sidebar Navgigation Feed

#social-feed-container {
  position: fixed;
  left: 0;
  top: 40%;
  width: 85px;
  height: 250px;
  z-index: 1;
  transition: 0.3s all ease;
  &.openFeed {
    width: 85px;
  }
  &.closeFeed {
    width: 0px;
  }
  .social-feed-wrapper {
    cursor: pointer;
    position: absolute;
    right: -52px;
    top: 45%;
    i {
      position: relative;
      z-index: 2;
      font-size: 2.5rem;
      padding: 0.5rem 0.5rem 0.5rem 0.3rem;
      background: linear-gradient(
        to right,
        #08fdd8af 0%,
        rgba(132, 255, 61, 0.674) 200%
      );
      clip-path: polygon(
        0 0%,
        0% 0,
        75% 0,
        100% 25%,
        100% 75%,
        75% 99%,
        0% 100%,
        0% 100%,
        0% 0%
      );
      transition: 0.5s all ease;
      &:hover {
        background-color: #d4d4d4;
        color: #1d1d1d;
      }
    }
  }
  .social-feed-group {
    background: rgb(27, 39, 53);
    background: linear-gradient(
      to left,
      rgb(36, 36, 36) 0%,
      rgb(0, 0, 0) 105%,
      rgb(0, 0, 0) 100%
    );
    clip-path: polygon(
      0 0%,
      0% 0,
      75% 0,
      100% 10%,
      100% 90%,
      75% 100%,
      0% 100%,
      0% 100%,
      0% 0%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    .social-feed-item {
      padding: 0.5rem;
      i {
        color: #d3d3d3;
        font-size: 2rem;
        padding: 0.25rem 0.35rem;
        transition: 0.3s ease !important;
        clip-path: polygon(
          0 0%,
          10% 0,
          85% 0,
          100% 15%,
          100% 100%,
          100% 100%,
          15% 100%,
          0% 85%,
          0% 15%
        );

        &:hover {
          background: linear-gradient(
            to right,
            #08fdd8af 0%,
            rgba(132, 255, 61, 0.674) 200%
          );
        }
      }
    }
  }
}

section#home {
  height: 100vh;
  div.hm {
    height: 100%;

    .masthead {
      width: 100%;
      height: 100%;
      justify-content: flex-start;
      display: flex;
      align-items: center;
      position: relative;
      canvas {
        filter: drop-shadow(0px 0px 35px #d3d3d35a);
        position: absolute;
        z-index: 0;
        width: 850px !important;
        height: 850px !important;
        right: 9.5%;
        top: 7%;
        -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
        animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
      }
      .home-intro {
        display: block;
        .home-head {
          width: 100%;
          padding: 2rem 2rem;
          border-radius: 2%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 7em;
          h2 {
            min-width: 400px;
            font-family: "Satisfy", cursive;

            div {
              font-size: 2.8rem;
              font-family: "Josefin Sans", sans-serif;
            }
            div:first-of-type {
              text-align: center;
              font-size: 2rem;
              margin-bottom: 1rem;
              font-family: "Satisfy", cursive;
              font-weight: 100;
            }
            div:last-of-type {
              text-align: center;
              font-family: "Sen", sans-serif;
            }
            span {
              font-size: 2.2rem;
              font-family: "Josefin Sans", sans-serif;
            }
          }
        }
      }

      .canvas-frame {
        width: 100%;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        top: 2%;
        right: 8.5%;
        .frame {
          background: #1d1d1df7;
          width: 350px;
          height: 550px;
          padding: 3px;
          position: relative;
          border-radius: 5px;
          justify-content: center;
          align-items: center;
          text-align: center;
          display: flex;
          font-size: 1.5em;
          color: rgb(88 199 250 / 0%);
          cursor: pointer;
          font-family: cursive;
          &::before {
            content: "";
            width: 104%;
            height: 102%;
            border-radius: 8px;
            background-image: linear-gradient(
              var(--rotate),
              rgba(122, 233, 57, 0.674),
              #3c67e3 43%,
              #4e00c2
            );
            position: absolute;
            z-index: -1;
            top: -1%;
            left: -2%;
            animation: spin 3.5s linear infinite;
          }

          &::after {
            position: absolute;
            content: "";
            top: calc(var(--card-height) / 6);
            left: 0;
            right: 0;
            z-index: -1;
            height: 100%;
            width: 100%;
            margin: 0 auto;
            transform: scale(0.8);
            filter: blur(calc(var(--card-height) / 6));
            background-image: linear-gradient(
              var(--rotate),
              rgba(122, 233, 57, 0.674),
              #3c67e3 43%,
              #4e00c2
            );
            opacity: 1;
            transition: opacity 0.5s;
            animation: spin 3.5s linear infinite;
          }
        }
      }
    }
  }
}

.openModalForm .form-modal-frame {
  -webkit-animation: slide-in-elliptic-top-fwd 0.7s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
}
.closeModalForm .form-modal-frame {
  -webkit-animation: slide-out-blurred-top 0.45s
    cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
  animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.05, 0.855, 0.06)
    both;
  opacity: 0;
}
.form-modal-frame {
  display: block;
  position: fixed;
  width: 75%;
  height: 75%;
  top: 15%;
  left: 12.5%;
  background: #2d2d2d;
  padding: 3em 2em;
  box-shadow: 5px 5px 24px #06060684;
  border-radius: 1em;
  z-index: 10;
  form {
    p {
      font-family: "Sen", serif;
      label {
        font-family: "Space Mono", serif;
      }
    }
    #submit {
      background: transparent;
      width: 150px;
      height: 30px;
      border-radius: 1em;
      transition: 0.3s all ease;
      border-bottom: 2px solid #d4d4d4;
      &:hover {
        background: #fff;
        border-bottom: 2px solid #1d1d1d;
        color: #1d1d1d;
      }
    }
    input,
    textarea {
      border: none;
      background: transparent;
      width: 75%;
      margin-top: 0.5em;
      border-bottom: 1px solid #d4d4d4;
      color: #fff;
      transition: 0.3s all ease;
      &:focus-visible {
        margin-left: 5px;
        margin-top: 10px;
        transform: scale(1.1);
        padding: 0.25em 0.5em;
      }
    }
    textarea {
      width: 75%;
    }
  }
  .form-modal-head h3 {
    font-family: "Sen", serif;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 2em;
    background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bx-x {
    position: absolute;
    right: 25px;
    top: 25px;
    font-size: 2.5em;
    color: #d3d3d3;
    cursor: pointer;
    transition: 0.3s all ease;
    &:hover {
      transform: scale(1.1);
      color: #fff;
    }
  }
}
.main-content-blur-content {
  filter: blur(3px);
}
@-webkit-keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
    transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}

@media only screen and (max-width: 1440px) {
  section#home {
    margin-top: 6%;
  }
}
@media only screen and (max-width: 1024px) {
  .main-nav .navbar-head h1 {
    font-size: 5rem;
  }
  section#home {
    margin-top: 13%;
  }
  section#home div.hm .masthead .home-intro .home-head {
    margin-left: 2em;
    margin-bottom: 30%;
  }
  section#home div.hm .masthead .canvas-frame {
    top: -8%;
  }
  section#home div.hm .masthead canvas {
    top: -4%;
  }
  .main-nav .nav-slider .navbar-nav li.nav-item a,
  .main-nav .nav-slider .navbar-nav li.nav-item div {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .form-modal-frame .ae {
    display: none;
  }
  .form-modal-frame form input,
  .form-modal-frame form textarea {
    width: 100%;
  }
}
@media only screen and (min-width: 769px) {
  .header{
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .main-nav .navbar-head h1 {
    margin: 0rem 2rem;
    font-size: 5rem;
    padding: 0.5rem 0rem;
  }
  .navbar-shrink .navbar-head h1 {
    font-size: 4.5rem;
  }
  section#home div.hm .masthead {
    justify-content: center;
    .home-intro .home-head {
      margin-left: 1.5em;
      margin-bottom: 7em;
      h2 {
        text-align: center;
        div {
          font-size: 2.25rem;
        }
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
  .navbar-nav {
    display: none;
  }
  section#home div.hm .masthead canvas {
    display: none;
  }
  section#home div.hm .masthead .canvas-frame {
    top: -3%;
    right: 23%;
  }
  section#home {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 750px) {
  section#home .masthead-obj .canvas-frame {
    justify-content: center;
    right: -10.5%;
  }
  section#home div.hm .masthead {
    justify-content: center;
  }
  section#home div.hm .masthead .home-intro .home-head h2 {
    text-align: center;
    span {
      font-size: 1.75rem;
    }
  }
}
@media only screen and (min-width: 550px){
  .header ul.menu{
    padding: 0px 75px 0;
  }
}
@media only screen and (max-width: 550px) {

  .main-nav .navbar-head h1 {
    margin: 0rem 1rem;
    font-size: 4.5rem;
    padding: 0;
    padding-bottom: 0.5rem;
  }
  .navbar-shrink .navbar-head h1 {
    font-size: 4rem;
  }
  section#home div.hm .masthead .canvas-frame {
    right: 15%;
  }
  section#home div.hm .masthead .home-intro .home-head h2 {
    padding-right: 1em;
  }
  #social-feed-container .social-feed-wrapper i {
    font-size: 2rem;
  }
  #social-feed-container .social-feed-wrapper {
    right: -44px;
    top: 42%;
  }
  #social-feed-container.openFeed {
    width: 65px;
  }
}
@media only screen and (max-width: 425px) {
  section#home div.hm .masthead .home-intro .home-head h2 {
    padding-right: 1.5em;
  }
  section#home div.hm .masthead .canvas-frame {
    right: 4%;
  }
}
@media only screen and (max-width: 400px) {
  section#home div.hm .masthead .canvas-frame .frame {
    max-width: 315px;
    max-height: 450px;
  }
}
@media only screen and (max-width: 320px) {
  section#home div.hm .masthead .canvas-frame .frame {
    max-width: 275px;
    max-height: 400px;
  }
  section#home div.hm .masthead .canvas-frame {
    right: 3%;
  }
  section#home div.hm .masthead .home-intro .home-head h2 div {
    font-size: 2rem;
  }
  section#home div.hm .masthead .home-intro .home-head h2 span {
    font-size: 1.25rem;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
